<%= simple_form_for @sneaker do |f| %>
  <%= f.input :name, autofocus: true, autocomplete: "name" %>
  <%= f.input :model, autofocus: true, autocomplete: "Model" %>
  <%= f.input :description, autofocus: true, autocomplete: "Description" %>
  <%= f.input :status, autofocus: true, autocomplete: "New model" %>
  <%= f.input :price %>
  <%= f.file_field :photo %>


  <div>
    <%= f.button :submit %>
  </div>
<% end %>
